{{> header}}
<div class="container">
    <h1>Hello World from Handlerbars, today is {{todaysDate}}</h1>
    {{#if msg}}
        {{msg}}
    {{else}}
        No message was found
    {{/if}}
</div>
{{> footer}}
